html {font-size: 16px;}
body {margin:0 10px 200px 10px;color:#000000;font-family:monospace,monospace;line-height:1.6;}
ul.index {list-style-type:circle;}
header {display:flex;flex-direction:row;}
div.logo {display:flex;align-items:center;justify-content:center;}
br.breaker {display: contents;}
span.hide {display:initial;}
article {margin:0 auto;max-width:900px;padding:5px;}
nav {padding:5px 0 5px 10px;}
nav, nav a {color:black;}
nav a:hover {text-decoration:underline;}
pre {white-space:pre-wrap;word-wrap:break-word;background-color:#eeeeee;border:1px solid #aaaaaa;padding:14px;border-radius:6px;color:#333333;overflow-x:auto;font-size:smaller;}
a {text-decoration:none;}
img {max-width:100%;border:0;-ms-interpolation-mode:bicubic;}
blockquote {color:#333333;margin:0;padding:0.2em 3em;border-left:0.2em orange solid;}
hr {border:none;height:2px;color:#ffb300;background-color:#ffb300;}
kbd {font-weight:bold;}
.subtitle {margin-bottom:0;padding-bottom:0;}
.version {font-size:x-small;}
.info {padding:14px;border:1px solid transparent;border-radius:6px;}
.info-blue {color:#004085;background-color:#cce5ff;border-color:#b8daff;}
.info-blue hr {border-top-color:#9fcdff;}
.info-blue .info-link {color:#002752;}
.info-green {color:#155724;background-color:#d4edda;border-color:#c3e6cb;}
.info-green hr {border-top-color:#b1dfbb;}
.info-green .info-link {color:#0b2e13;}
.info-mint {color:#0c5460;background-color:#d1ecf1;border-color:#bee5eb;}
.info-mint hr {border-top-color:#abdde5;}
.info-mint .info-link {color:#062c33;}
.info-yellow {color:#59402D;background-color:#fff3cd;border-color:#c9ba9b;}
.info-yellow hr {border-top-color:#ffe8a1;}
.info-yellow .info-link {color:#533f03;}
.info-red {color:#721c24;background-color:#f8d7da;border-color:#f5c6cb;}
.info-red hr {border-top-color:#f1b0b7;}
.info-red .info-link {color:#491217;}
.info-grey {color:#555555;background-color:#e2e3e5;border-color:#d6d8db;}
.info-grey hr {border-top-color:#c8cbcf;}
.info-grey .info-link {color:#202326;}
@media (max-width:768px) {
  html {font-size:14px;}
  h1 {font-size:2rem;}
  h2 {font-size:1.5rem;}
  h3 {font-size:1.25rem;}
  header {flex-direction:column;}
  article {max-width:100%;}
  br.breaker {display:initial;}
  span.hide {display:none;}
}
@media (max-width:480px) {
  html {font-size:13px;}
  h1 {font-size:1.75rem;}
  h2 {font-size:1.25rem;}
  h3 {font-size:1.1rem;}
}

