html{
  background-color:black;
  color:white;
}

body{
  background-color:black; 
  flex-direction:column;
}

h5{
  background-color:blue;
  display:inline-flex;
  position: relative;
}

a{
  color:cyan;
  text-decoration: none; 
}


code{
  color:black; 
  background-color:grey; 
  font-size: 12px; 
}

.settings{
  margin-left:20px; 
  text-align:left;
  position:relative; 
  display:inline-flex; 
  flex-direction: start;
  align-items: flex-start; 
}

.settings h3{
  margin:2rem;
  text-align:right;
}

.topmenu{
  text-align:center;
  padding: 1rem; 
  margin-left: 2rem; 
}

.container{
  text-align:center;
  align-items:flex;
  margin-top:-2rem; 
}


