html {  padding:0;
  margin:0; 
}

body {
  display: block;
  background-color: black;
  color:white;
  margin: 1rem;
  text-align: justify;
}

header{
  text-align: center;
  margin-top: 2rem;
}

b {
  color: #0FB000;
}

i {
  color: darkorange;
}

.r {
  color: red;
  background-color: white;
}
.textbox {
  display: flex;
}

.textbox p {
  text-align:justify;
  color:darkgray;
}

.textbox a.external{
  color: #F06;
  text-decoration: none;
  font-size: 28px;
}

.textbox a{
  color:#0AAAAA;
  text-decoration: none;
  font-size:28px;
}

.title1 {
  display: inline;
  color: cyan;
  background-color: black;
}

.title2 {
  display: inline;
  color: white;
  background-color: darkblue;
}

.title3 {
  display: inline;
  color: darkblue;
  background-color: yellow;
}    

.title4 {
  display: inline;
  color: white;
  background-color: black;
}

body p {
  display: block;
  font-size: 28px;
  color: whitesmoke;
  padding: 0.5%;
}

code {
  background-color: #003333;
  color: white;
  font-size:20px;
  padding:0.1%;
}


.center {
  text-align: center;
  display: flex;
}

.itemList {
  display: flex;
  flex-direction: column;
  text-align: center;
} 

.answer {
  color: greenyellow;
}


.sourceCode {
  text-align: left;
  display: block;
  line-break: auto;
}
.logic {
  display: block;
}

.logicThought{
  background-color: white;
  color:black;
  font-size: 24px;
  text-align: justify;
}

.logicThought a {
  text-decoration: none;
  color:blue;
}

.note {
  font-size:24px;
}

.Memories{
  background-image: url(./images/three.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-width: 98%;
  min-height: 100%;
  position: absolute;
}

.dragonFire {
  background-image: url(./images/dragonFire.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-width: 95%;
  min-height: 100%;
  position: absolute;
}

.king{
  background-image: url(./images/prince.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-width: 98%;
  min-height: 100%;
  position: absolute;
}

.monkey {
  background-image: url(./images/peace.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-width: 98%;
  min-height: 100%;
  position: absolute;
}

.offensive{
  background-image: url(./images/PowerFinger.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-width: 98%;
  min-height: 100%;
  position: absolute;
}

.dragon {
  background-image: url(./images/offensive.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-width: 98%;
  min-height: 100%;
  position: absolute;
}

.md {
  background-color: aliceblue;
  opacity: 0.8;
  display: block;
  margin-right: 2rem;
  color: black;
}

.black {
  background-color: black;
  display: block;
  opacity: 0.8;
  margin:5rem;
  padding:0.3%;
  border:groove;
  border-radius: 1%;
  border-width: 0.1rem;
  border-color:yellow;
}

footer{
  background-color: darkblue;
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

footer a {
  font-size: 30px;
  color:white;
  text-decoration: none;
  padding:0.1%;
}

table {
  text-align: center;
}

th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}

