html {
  padding:0;
  margin:0; 
}

body {
  margin-left: 2rem;   
  margin-right: 2rem; 
  background-color: black;
  color:white;
}

header{
  text-align: center;
  margin-top: 2rem;
}

.title1 {
  display: inline;
  line-break: strict;
  color: darkblue;
  background-color: aliceblue;
  font-size: 42px;
}

.title2 {
  display: inline;
  line-break: strict;
  color: darkblue;
  background-color: aqua;
  font-size: 40px;
}

.title3 {
  display: inline;
  line-break: strict;
  color: darkblue;
  background-color: yellow;
  font-size: 38px;
}    

.title4 {
  display: inline;
  line-break: strict;
  color: white;
  background-color: black;
  font-size: 38px;
}

.title4 {
  text-align: center;
  font-size: 48px;
}

body p {
  font-size: 28px; 
}

code {
  background-color: gray;
  color: black;
  font-size:25px;
}

.title1 {
  text-align: center;
  color: darkblue;
  background-color: aliceblue;
  font-size: 42px;
}

.center {
  text-align: center;
  margin-top: 2rem;
}

.itemList {
  display: flex;
  flex-direction: column;
  text-align: center;
} 

.textbox {
  text-align:justify;
  margin-bottom: 60px;
}

.textbox a{
  font-size: 28px;
  color:white;
  background-color: darkblue;
  text-decoration: none;
}

.sourceCode {
  text-align: left;
  display: block;
  line-break: auto;
}
.logic {
  display: block;
}

.logicThought{
  background-color: white;
  color:black;
  font-size: 28px;
  text-align: justify;
}

.logicThought a {
  text-decoration: none;
}

.note {
  font-size:24px;
}

.chicken {
  background-image: url(./images/Chicken.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-width: 98%;
  min-height: 100%;
  position: absolute;
}

.Memories{
  background-image: url(./images/three.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-width: 98%;
  min-height: 100%;
  position: absolute;
}

.dragonFire {
  background-image: url(./images/dragonFire.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-width: 95%;
  min-height: 100%;
  position: absolute;
}

.king{
  background-image: url(./images/prince.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-width: 98%;
  min-height: 100%;
  position: absolute;
}

.monkey {
  background-image: url(./images/peace.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-width: 98%;
  min-height: 100%;
  position: absolute;
}

.dragon {
  background-image: url(./images/offensive.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-width: 98%;
  min-height: 100%;
  position: absolute;
}

.md {
  background-color: aliceblue;
  opacity: 0.9;
  display: block;
  margin-right: 2rem;
  color: black;
}

.black {
  background-color: black;
  display: block;
  opacity: 0.7;
  margin:5rem;
}

footer{
  background-color: darkblue;
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

footer a {
  font-size: 28px;
  color:white;
  text-decoration: none;
}

table {
  text-align: center;
}

th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
