html {
  padding:0;
  margin:0; 
}

body {
  margin-left: 2rem;   
  margin-right: 2rem; 
  background-color: black;
  color:white;
}

header{
  text-align: center;
  margin-top: 2rem;
}

.title1 {
  text-align: center;
}
.title2 {
  text-align: center;
}

.title3 {
  text-align: center;
  font-size: 48px;
}

.title4 {
  text-align: center;
  font-size: 48px;
}

body p {
  font-size: 28px; 
}

code {
  background-color: gray;
  color: black;
  font-size:25px;
}

.title1 {
  text-align: center;
  color: darkblue;
  background-color: aliceblue;
  font-size: 42px;
}

.center {
  text-align: center;
  margin-top: 2rem;
}

.itemList {
  display: flex;
  flex-direction: column;
  text-align: center;
} 

.textbox {
  text-align:justify;
}

.textbox a{
  font-size: 28px;
  color:white;
  background-color: darkblue;
  text-decoration: none;
}

.sourceCode {
  text-align: left;
  display: block;
  line-break: auto;
}
.logic {
  display: block;
}

.logicThought{
  background-color: white;
  font-size: 28px;
  text-align: justify;
  margin-left:2rem;
  margin-right:2rem;
}

.logicThought p{
  color: black;
}

.note {
  font-size:24px;
}

footer{
  text-align: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  background-color: darkblue;
}

footer a {
  font-size: 28px;
  color:white;
  text-decoration: none;
}
