html {
  padding: 0%;
  margin: 2%; 
}

body {
  color: white; 
  background-color: black;
  text-align: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: black;
  display: flex;
  flex-direction: column;
}

body h1 {
  text-align: center;
  font-size: 32;
}

body ul {
  display: block; 
  text-justify: auto;
  padding-left: 1em;
}

body a {
  text-decoration: none;
  list-style: none;
  color: cyan; 
  text-decoration-style: none;
  text-decoration-line: none;
  background-color: darkblue;
  font-size: 23px;
}

body li {
  display: inline;
  line-break: strict;
  font-size: 22px;
}

body p {
  font-size: 20px;
  text-align: justify;
}

body code {
/*   text-align: left; */
  color: gray
}

.main {
  text-align: center;
  display: inline-block;
  break-inside: auto;
}

.center{
  text-align: center;
}

.title1 {
  display: inline;
  line-break: strict;
  color: darkblue;
  background-color: aliceblue;
  font-size: 33px;
  display: block;
}

.title1 li {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: block;
}

.title2 {
  display: inline;
  line-break: strict;
  color: darkblue;
  background-color: aqua;
  font-size: 33px;
}

.title3 {
  display: inline;
  line-break: strict;
  color: darkblue;
  background-color: yellow;
  font-size: 33px;
}

    

.title4 {
  display: inline;
  line-break: strict;
  color: white;
  background-color: black;
  font-size: 33px;
}

.itemList {
  display: flex;
  flex-direction: column;
} 

.bPostItem {
  text-align: center;
  display: inline-block;
  padding-top: 2rem;
}

.link {
  text-decoration: none;
  list-style: none;
}  

.textbox {
  text-align: justify;
}

footer{
  text-align: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

footer p{
  font-size: 16px;
}

footer a{
  font-size: 16px;
}

.sourceCode {
  text-align: left;
  display: block;
  line-break: auto;
}
.logic {
  display: block;
}

.logicThought{
  background-color: white;
  color:black;
  text-align: justify;
}

.logicThought p{
  color: black;
}

