html {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
}

body {
  text-align: center;
}

body p {
  font-size:38px;
  margin-left:2rem;
  margin-right:2rem;
}

body a {
  text-decoration: none;
  color: cyan; 
  text-decoration-style: none;
  text-decoration-line: none;
  background-color: darkblue;
  font-size: 30px;
}


body h1 {
  text-align: center;
  font-size: 38px;
}

a {
  text-decoration: none;
  color: cyan; 
  text-decoration-style: none;
  text-decoration-line: none;
  background-color: darkblue;
  font-size: 30px;
}


code {
  background-color: gray;
  color: black;
  font-size:25px;
}

.main {
  background-image: url(./images/PowerFinger.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-width: 99%;
  min-height: 100%;
  position: absolute;
  text-align: center;
}

.center{
  text-align: center;
}

.center p {
  font-size: 30px;
  display:flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;

}

.title1 {
  display: inline;
  line-break: strict;
  color: darkblue;
  background-color: aliceblue;
  font-size: 42px;
}

.title2 {
  display: inline;
  line-break: strict;
  color: darkblue;
  background-color: aqua;
  font-size: 40px;
}

.title3 {
  display: inline;
  line-break: strict;
  color: darkblue;
  background-color: yellow;
  font-size: 38px;
}    

.title4 {
  display: inline;
  line-break: strict;
  color: white;
  background-color: black;
  font-size: 38px;
}

.itemList {
  display: flex;
  flex-direction: column;
  text-align: center;
} 

.bPostItem {
  text-align: center;
  display: inline-block;
  background-color: black;
}

.link {
  text-decoration: none;
  list-style: none;
}  

.textbox {
  text-align: justify;
}

footer{
  text-align: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.sourceCode {
  text-align: left;
  display: block;
  line-break: auto;
}
.logic {
  display: block;
}

.logicThought{
  background-color: white;
  color:black;
  font-size: 34px;
  text-align: justify;
  margin-left:2rem;
  margin-right:2rem;
}

.logicThought p{
  color: black;
}

.note {
  font-size:24px;
}
