html {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  display: block;
}

.container {
  background-image: url(images/PowerFinger.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-width: 99%;
  min-height: 100%;
  position: absolute;
}

header {
  text-align: center;
}

.posts p {
  display: relative;
}

body p {
  font-size:28px;
  color:white;
  display: inline-flexbox;
  flex-direction: row;
  flex-wrap: wrap;
}

body a {
  color: cyan; 
  background-color: darkblue;
  font-size: 28px;
  text-decoration: none;
  list-style: none;
}

body h1 {
  text-align: center;
  font-size: 38px;
}

.topic {
  text-align: center;
}

.title1 {
  display: inline;
  line-break: strict;
  color: darkblue;
  background-color: aliceblue;
  font-size: 42px;
}

.title2 {
  display: inline;
  line-break: strict;
  color: darkblue;
  background-color: aqua;
  font-size: 40px;
}

.title3 {
  display: inline;
  line-break: strict;
  color: darkblue;
  background-color: yellow;
  font-size: 38px;
}    

.title4 {
  display: inline;
  line-break: strict;
  color: white;
  background-color: black;
  font-size: 38px;
}

.black {
  background-color: black;
}

.bPostItem {
  text-align: center;
}

footer{
  text-align: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  color:white;
  display: flex;
  flex-direction: column;
}

