html {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
}

body {
  padding:2rem;
  display: relative;
  text-align: center;
}

body h1 {
  text-align: center;
  font-size: 28px;
}

body ul {
  display: inline; 
  text-justify: auto;
}

body a {
  text-decoration: none;
  list-style: none;
  color: cyan; 
  text-decoration-style: none;
  text-decoration-line: none;
  background-color: darkblue;
  font-size: 30px;
}

body li {
  font-size: 30px;
  color:white;
}

li {
  display: block;
}

body p {
  font-size: 30px;
  text-align: justify;
}

body code {
  background-color: gray;
  color: black;
  font-size:25px;
}

.main {
  background-image: url(./images/PowerFinger.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-width: 95%;
  min-height: 95%;
  position: absolute;
  text-align: center;
}

.center{
  text-align: center;
}

.title1 {
  display: inline;
  line-break: strict;
  color: darkblue;
  background-color: aliceblue;
  font-size: 42px;
}

.title1 li {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: block;
}

.title2 {
  display: inline;
  line-break: strict;
  color: darkblue;
  background-color: aqua;
  font-size: 40px;
}

.title3 {
  display: inline;
  line-break: strict;
  color: darkblue;
  background-color: yellow;
  font-size: 38px;
}

    

.title4 {
  display: inline;
  line-break: strict;
  color: white;
  background-color: black;
  font-size: 38px;
}

.itemList {
  display: flex;
  flex-direction: column;
  text-align: center;
} 

.bPostItem {
  text-align: center;
  display: inline-block;
  padding-top: 2rem;
}

.link {
  text-decoration: none;
  list-style: none;
}  

.textbox {
  text-align: justify;
}

footer{
  text-align: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.sourceCode {
  text-align: left;
  display: block;
  line-break: auto;
}
.logic {
  display: block;
}

.logicThought{
  background-color: white;
  color:black;
  text-align: justify;
}

.logicThought p{
  color: black;
}

.note {
  font-size:22px;
}
